
        .body-initial {
            background-color: rgba(255,255,255,1); 
        }
        .silex-id-1487324637169-0 {
            min-height: 100px; 
            width: 200px; 
            top: 100px; 
            left: 767px; 
        }
        .silex-id-1487324719009-1 {
            min-height: 100px; 
            width: 100px; 
            top: 15px; 
            left: 75px; 
            opacity: 0.19; 
        }
        .silex-id-1487326542660-2 {
            min-height: 100px; 
            width: 100px; 
            top: 100px; 
            left: 767px; 
        }
        .silex-id-1487326660462-3 {
            min-height: 50px; 
            width: 500px; 
            top: 255px; 
            left: 565px; 
        }
        .silex-id-1487326796470-4 {
            min-height: 100px; 
            width: 500px; 
            top: 340px; 
            left: 568px; 
        }
    